[Desktop Entry]
Name=Vakt-i Salah
Exec=vaktisalah-gtk-rs
Comment=Rust & GTK4 version of Vakt-i Salah (Prayer Times) Application
Icon=io.github.eminfedar.vaktisalah-gtk-rs

Type=Application
Terminal=false
Categories=Utility

StartupNotify=true

X-GNOME-UsesNotifications=true
